.nextRegion {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1000;
  width: 90px;
  height: 90px;
}

.previousRegion {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1000;
  width: 90px;
  height: 90px;
}
.nextPatrimony {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1000;
  width: 90px;
  height: 90px;
}

.previousPatrimony {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1000;
  width: 90px;
  height: 90px;
}

.nextRestoration {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1000;
  width: 90px;
  height: 90px;
}
.previousRestoration {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1000;
  width: 90px;
  height: 90px;
}
.nextAccommodation {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1000;
  width: 90px;
  height: 90px;
}
.previousAccommodation {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1000;
  width: 90px;
  height: 90px;
}
<<<<<<< HEAD
.nextExperience {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1000;
  width: 90px;
  height: 90px;
}
.previousExperience {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1000;
  width: 90px;
  height: 90px;
}

.custom-search {
  background-image: url("https://images.freeimages.com/images/large-previews/d18/nice-landscape-1058202.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 600px;
}

.small-search-input {
  width: 800px;
  text-align: center;
}
.custom-discover {
  background-image: url("https://www.turismodeobservacion.com/media/fotografias/barriopalacio-paisaje-rural-en-valdeolea-44617-xl.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 600px;
}
.card-row{
  position: relative;

}
=======

.imageValencia {
  position: relative;
  z-index: -1;
  height: auto;
  width: auto;
}

.imageLogo {
  position: absolute;
  width: 291px;
  height: 100px;
  left: 400px;
  bottom: 235px;
}

.navbarFooter {
  height: 800;
}
>>>>>>> 6e2f286 (adding a new view)
