.nextRegion {
  position: absolute;
  top: 37%;
  right: 0;
  z-index: 1000;
  width: 90px;
  height: 90px;
}

.previousRegion {
  position: absolute;
  top: 37%;
  left: 0;
  z-index: 1000;
  width: 90px;
  height: 90px;
}
.nextPatrimony {
  position: absolute;
  top: 97%;
  right: 0;
  z-index: 1000;
  width: 90px;
  height: 90px;
}

.previousPatrimony {
  position: absolute;
  top: 97%;
  left: 0;
  z-index: 1000;
  width: 90px;
  height: 90px;
}

.nextRestoration {
  position: absolute;
  top: 165%;
  right: 0;
  z-index: 1000;
  width: 90px;
  height: 90px;
}
.previousRestoration {
  position: absolute;
  top: 165%;
  left: 0;
  z-index: 1000;
  width: 90px;
  height: 90px;
}
.nextAccommodation {
  position: absolute;
  top: 230%;
  right: 0;
  z-index: 1000;
  width: 90px;
  height: 90px;
}
.previousAccommodation {
  position: absolute;
  top: 230%;
  left: 0;
  z-index: 1000;
  width: 90px;
  height: 90px;
}
